@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
#app {
  height: 100%;
}

.sider {
  min-height: 100vh;
}

.page-content {
  margin: 24px;
  padding: 24px 32px;
  background: #fff;

  // 表格筛选条件
  .table-search {
    .ant-form-inline {
      .ant-form-item {
        display: flex;
        margin-bottom: 12px;
        margin-right: 0;
        .ant-form-item-control-wrapper {
          flex: 1 1;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  // 表格操作
  .table-operator {
    // margin-bottom: 18px; 
    & > .ant-btn {
      margin-right: 8px;
    }
  }
}