#app {
  height: 100%;
}

.sider {
  min-height: 100vh;
}

.ant-pro-multi-tab {
  margin: -23px -24px 24px -24px;
  background: #fff;
}

.page-content {
  flex-grow: 1;
  padding: 12px;
  // margin: 12px;
  // margin: 24px;
  // padding: 24px 32px;
  background: #fff;
  .ant-layout {
    background: #fff;
    .ant-layout-sider {
      margin-left: 10px;
      background: #fff;
    }
  }

  // 表格筛选条件
  .table-search {
    .ant-form-inline {
      .ant-form-item {
        display: flex;
        margin-bottom: 12px;
        margin-right: 0;
        .ant-form-item-control-wrapper {
          flex: 1 1;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .ant-form-vertical {
      .ant-form-item {
        margin-bottom: 0;
        .ant-calendar-picker {
          width: 100%!important;
        }
      }
    }
  }

  // 输入框没有值
  .isValue {
    background-color: #FFF3F3;
    border: 1px solid #FFA8A8;

  }

  .isValue:focus {
    box-shadow: 0px 0px 2px 2px #F0D6DA;
    border: 1px solid #FFA8A8;
  }

  .isValue:hover {
    box-shadow: 0px 0px 2px 2px #F0D6DA;
    border: 1px solid #FFA8A8;
  }

  // 表格操作
  .table-operator {
    // margin-bottom: 18px; 
    & > .ant-btn {
      margin-right: 8px;
    }
  }

  // 表格内操作栏
  .table-actions {
    a {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// vxe-table 自定义样式
.vxe-grid {
  .vxe-body--column.col--edit {
    .vxe-cell {
      & > .vxe-input--wrapper {
        height: 24px;
      }
      & > .ant-input {
        width: 100%;
      }
      & > .ant-select {
        width: 100%;
      }
      & > .ant-input-search {
        width: 100%;
      }
      & > .ant-input-number {
        width: 100%;
      }
    }
  }
}

