:global {
  .process-model-edit {
    // 上传头像设置
    .ant-upload-select-picture-card {
      width: 58px !important;
      height: 58px !important;
      background-color: #d7d7d7;
      border: 1px solid #aaa;
      border-radius: 50% !important;
    }
    // 去掉上传图片的padding
    .ant-upload {
      padding: 0 !important;
    }
  }
}
