:global {
  .process-model-edit {
    .ant-upload-select-picture-card {
      border-radius: 50% !important;
      width: 58px !important;
      height: 58px !important;
      border: 1px solid #aaaaaa;
      background-color: #d7d7d7;
    }
  }
}
