:global {
  .project_manage_UI_sample_group_title {
    .anticon-close {
      position: absolute;
      top: 24px;
      left: 152px;
      display: none;
    }
    input {
      padding: 5px 10px;
      font-size: 14px;
      border: none;
      border-radius: 2px;
      outline: none;
    }
    input:hover {
      background-color: #f5f5f5;
    }
    input:focus {
      background-color: #f5f5f5;
    }
  }
  .project_manage_UI_sample_group_title:hover {
    .anticon-close {
      display: inline-block;
    }
  }
}
