@import '~antd/es/style/themes/default.less';

// .dataTable :global(.ant-table-column-title){
//   color:rgba(0,0,0,0.85);
//   font-weight: bold;
//   font-size:14px;
// }
.partName {
  color: #222;
  font-size: 14px;
}

.partCode {
  color: #999;
  font-size: 14px;
}

:global {
  .mySet {
    .ant-form-inline .ant-form-item .ant-form-item-label label {
      width: 120px;
    }
  }
}
