.titleCard {
  margin-bottom: 30px;
}

.width {
  width: 100%;
}

.textCode {
  display: inline-block;
  margin-left: 50px;
}

.textDesc {
  margin-top: 15px;
}

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

:global {
  .classEditFormItem {
    .ant-modal-body,
    .ant-modal-header {
      padding-left: 30px !important;

      label {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }

  .classTabPane {
    .ant-tabs-tab {
      padding-right: 30px !important;
      padding-left: 30px !important;
    }

    .ant-card-body {
      // padding: 0;

      .ant-table-container {
        // padding-left: 30px;

        tbody > tr > {
          // td.ant-table-cell {
          //   padding: 14px 10px 14px 36px !important;
          // }

          td.ant-table-cell:first-child {
            a {
              color: rgba(0, 0, 0, 0.65);
            }

            a:hover {
              color: #1890ff;
            }
          }
        }
      }
    }

    .classdownBtn {
      padding-left: 17px !important;
    }

    .ant-tabs-nav {
      > div > .ant-tabs-tab {
        width: 120px;
        margin-right: 0;
        font-size: 16px;
        line-height: 36px;
        text-align: center;
      }
    }
  }

  .classTableSearchForm {
    form {
      position: relative;

      .ant-col:nth-child(1) {
        padding-left: 30px;
      }

      .ant-col:nth-child(2) {
        position: absolute;
        left: 530px;
      }

      .ant-col:nth-child(3) {
        position: absolute;
        left: 400px;
      }
    }
  }

  .classPageHeaderWrapper {
    .ant-card-body {
      margin: 0 !important;
      padding: 30px 40px !important;

      > div {
        margin-bottom: 0 !important;
      }
    }
  }

  .classProcessList {
    padding-bottom: 50px;
    .ant-table-tbody {
      > tr > .ant-table-cell:nth-child(2) {
        button {
          position: relative;
          width: 55px;
          height: 24px;

          span {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 12px;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .ant-table thead > tr > th,
    .ant-table tbody > tr > td {
      padding: 16px 36px;
    }
    // .ant-table tbody > tr > td  {
    //   padding: 16px 30px 16px 36px;
    // }
  }
}
