:global {
  .task_model_add_argument_list {
    display: inline-block;
    height: 35px;

    &:hover {
      background-color: #e6f7ff;
    }
  }
  .isSelect {
    position: relative;
    border: 1px solid #1890ff;
    .isOk {
      display: inline-block !important;
    }
  }
}
