// 变更按钮
.changeButton {
  margin-left: 10px;
}

/* 销售范围 */
.externalTab {
  margin-bottom: 24px;
  background: #fff;
  :global {
    .ant-tabs-content {
      padding: 0 24px 24px;
    }
  }
}

.internalTab {
  border: 1px solid #e6e6e6;
  :global {
    .ant-tabs-top-bar {
      margin-bottom: 0;
      background: #eee;
    }
    .ant-tabs-content {
      padding: 0;
    }
  }
}

:global {
  .orgStyle {
    .ant-descriptions-item-label {
      width: 140px;
    }
  }
}

// PI认证
.piCertification {
  margin-bottom: 24px;
  .piCertification-item {
    height: 280px;
  }
  .piCertification-add {
    width: 100%;
    height: 280px;
  }
  :global {
    .ant-upload-picture-card-wrapper {
      overflow: hidden;
      .ant-upload-list.ant-upload-list-picture-card {
        width: 3000px;
      }
    }
  }
}

// PI信贷数据
.piCredit-item-line {
  margin-bottom: 15px;
  .number {
    margin-right: 5px;
    color: #1890ff;
    font-weight: 600;
  }
  .currency {
    margin-right: 20px;
  }
}
